{
  "base_url": "https://rezerwacja5.um.poznan.pl/qmaticwebbooking/rest/schedule",
  "site_url": "https://rezerwacja5.um.poznan.pl/qmaticwebbooking/",
  "email": "your-email@example.com",
  "repeat_minutes": 30,
  "prefixes": [
    "733", "668", "883", "602", "690", "577", "886",
    "880", "517", "784", "793", "697", "510", "881", "575"
  ],
  "retry_settings": {
    "max_retries": 5,
    "initial_delay": 1,
    "delay_multiplier": 2
  },
  "logging": {
    "level": "INFO",
    "file": "appointment_bot.log",
    "format": "[%(asctime)s] [%(levelname)s] %(message)s"
  }
} 